.positionSection {
  width: 100%;
  height: 100%;

  .categorySection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: clamp(180px, 25%, 30%);
    position: absolute;
    top: 0px;
    right: 41%;

    div {
      margin-bottom: 0;
      min-height: 0.5em;
    }

    @media screen and (max-width: 768px) {
      // display: none;
      top: 6px;
      right: 8%;
      font-size: 12px !important;
      // width: 165px;
      width: 41%;

      div {
        padding-left: 13px;
        margin-right: 6px;


        input {
          margin-left: -0.9rem;
        }
      }

    }

    @media only screen and (min-width: 1030px) and (max-width: 1566px) {
      font-size: 13px;
      right: 47%;

    }
  }

  // .mobCategorySection {
  //   display: none;

  //   @media screen and (max-width: 768px) {
  //     display: block;
  //     position: absolute;
  //     top: 5px;
  //     right: 39%;
  //     width: 4rem;

  //     select {
  //       color: #0a4a5c;
  //       border: none;
  //       font-size: 13px;
  //       padding: 1px;
  //       background-color: transparent;
  //       background-size: 8px 10px;

  //       &:focus {
  //         // outline: none;
  //         box-shadow: unset;
  //       }
  //     }
  //   }
  // }

  .headerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 2px;
    right: 1.7rem;
    cursor: pointer;

    button {
      font-size: 13.59px;
      border: 0.85px solid #0a4a5c;
      border-radius: 3px;
      color: #0a4a5c;
      background: transparent;
      padding: 0 5px;
      line-height: 1.3;

      @media screen and (max-width: 768px) {
        border: 0.63px solid #0a4a5c;
        border-radius: 2px;
        font-size: 10px !important;
        padding: 1px 3px;
      }

      @media only screen and (min-width: 1030px) and (max-width: 1566px) {
        font-size: 13px;
      }

      &:not(:last-child) {
        margin-right: 0.4rem;

        // @media screen and (max-width: 768px) {
        //   margin-right: 0.4rem;
        // }
      }

      &:hover {
        background: #293242;
        color: #ffff;
      }
    }

    @media screen and (max-width: 768px) {
      top: 6px;
      right: 2rem;
    }

  }

  .posSetting {
    line-height: 1px;
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;

    @media screen and (max-width:768px) {
      top: 7px;

    }
  }

  .cPosBarChart {
    width: 100%;
    height: 74%;

    @media screen and (max-width:768px) {
      height: 70% !important;
      margin-top: 1rem;

      // canvas {
      //   height: 225px !important;
      // }

    }
  }

  .cPosheaderSection {
    @media screen and (max-width:768px) {
      // display: none;
      position: unset;

    }
  }

  // .cPosMobheaderSection {
  //   display: none;

  //   @media screen and (max-width:768px) {
  //     display: block;
  //     position: absolute;
  //     top: 4px;
  //     right: 9%;
  //     width: 6.5rem;

  //     select {
  //       border: none;
  //       font-size: 13px;
  //       padding: 1px;
  //       background-color: transparent;
  //       background-size: 8px 10px;
  //     }
  //   }

  // }

  .posBtnSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13.59px;
    // width: clamp(17rem, 50%, 100%);
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;

    .buton,
    button {
      background: transparent;
      border: 0.85px solid #293242;
      border-radius: 3px;
      padding: 0 5px;
      line-height: 1.4;

      // margin-right: 0.3rem;
      // &:focus,
      // &:focus-visible {
      //   background: #1c386b;
      //   color: #ffff;
      // }
      &:not(:last-child) {
        margin-right: 0.3rem;
      }

      @media screen and (max-width: 768px) {
        border-radius: 2px;
        border: 0.4px solid #293242;
        // width: clamp(3rem, 4rem, 100%);
      }
    }

    @media screen and (max-width: 768px) {
      font-size: 10px !important;
      margin-top: 0.5rem;
      // width: clamp(13rem, 54%, 100%);
      width: auto;
      // justify-content: unset;
      justify-content: center;

      :not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }
}