.symblFilterSection,
.exchFilterSection {
  .btnSection {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    button {
      width: 8rem;
      border-radius: 3px;
      background: #293242;
      font-size: 1rem;
      border: none;
      padding: 4px;
      color: #fff;
      text-transform: uppercase;


      @media screen and (max-width: 768px) {
        width: 6rem;
        padding: 4px;
      }
    }
  }
}