.authentication {
  .loginSection {
    align-items: center;

    @media screen and (max-width: 768px) {
      --bs-gutter-x: 0
    }

    .logoSection {
      padding-left: 1rem;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        padding-left: 2rem;
      }

      .logo {
        .responsiveimg {
          width: 11rem;
        }
      }
    }

    .loginCardSection {
      height: calc(100vh - 5vh);
      vertical-align: baseline;
      display: flex;

      @media screen and (max-width: 768px) {
        height: calc(100vh - 15vh);
      }

      .loginCard {
        border-radius: 1.25rem;
        box-shadow: 0px 0px 0px 0px #0000000d, 1px 6px 14px 0px #0000000d,
          4px 25px 25px 0px #0000000a, 9px 55px 34px 0px #00000008,
          16px 99px 40px 0px #00000003, 26px 154px 44px 0px #00000000,
          0px -11px 25px 0px #00000012;
        padding: 3.5rem 3rem;
        z-index: 1;
        background: rgb(255, 255, 255);
        width: 26vw;
        margin: auto;

        @media screen and (max-width: 768px) {
          margin: auto;
          // margin-bottom: 1rem;
          width: 77%;
          padding: 3rem 2rem;
        }

        .heading {
          text-align: center;
        }

        form {

          .userSetion,
          .passwordSection {
            margin-top: 2.3rem;
            position: relative;

            label {
              margin-bottom: 0;
            }

            input {
              border: none;
              border-bottom: 1.5px solid #3f3f3fcc;
              border-radius: unset;
              padding-left: 0;
              padding-top: 3px;

              &:focus {
                box-shadow: unset;
              }
            }
          }

          .passwordSection {
            margin-bottom: 1.5rem;
          }

          .userIcon,
          .adminPassHideShow {
            position: absolute;
            right: 0.7rem;
            bottom: 0.5rem;

            .eyeIcon {
              cursor: pointer;
              // color: #0d6efd;
            }
          }

          .customBtn {
            .sigleCustomBtn {
              width: 100%;
              padding: 9px;
              border-radius: 0.625rem;
              border: none;
              font-size: 1.1rem;
              color: #f7f7f7;

              margin: 1.4rem 0 0 0;
              background: #2178a2e8;

              @media screen and (max-width: 768px) {
                padding: 7px;
              }
            }
          }
        }
      }
    }

    .backgroundSection {
      padding: 0;

      .backgroundBanner {
        height: 100vh;
        object-fit: fill;
        width: 100%;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}